.menu-container {
    background-color: white;
    height: 60vh;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container-options {
    margin-top: 50px;
}