.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    height: 50px;
    border-bottom: 2px solid #3f51b5;
    background-color: white;
}

.navbar-options-container {
    display: flex;
    align-items: center;
}

.navbar-options-container > p {
    margin-left: 15px;
}